doctype html
html
    head
        title=Mapa
        link(rel="stylesheet", href="../stylesheets/style.css")
        link(rel="stylesheet", href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css")
        script(src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js")
        script(src="https://d3js.org/d3.v5.min.js")
        script(src="../scripts/Leaflet.Geodesic.js")
    body


    #map
        script(src="../scripts/map.js")
    script(src="../scripts/war.js")

    #start_div
        p.start_p Liczba wysłanych bomb: 
            span#bombs 0
        button.start_button(onClick="startWar()") START
        p.start_p Straty: 
            span#dead 0