html,
body {
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#start_div{
  position: absolute;
  width: 25%;
  height: 5%;
  background-color: #212121;
  bottom: 0px;
  right: 37.5%;
  z-index: 3;
}
.leaflet-popup-content p{
  margin: 0 !important;
}